# Python Bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django stuff:
*.log
*.pot
*.pyc
*.db
*.sqlite3
db.sqlite3

# Virtual Environment
venv/
.env/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# VS Code
.vscode/

# JetBrains IDE (PyCharm, IntelliJ)
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs and databases
*.log
*.pot
*.sqlite3
*.db
